## Stocks

In [ ]:
# Financial data.
import yfinance as yf

# Dates and times.
import datetime as dt

In [13]:
# Get data for microsoft, apple and google
df = yf.download(['MSFT', 'AAPL', 'GOOG'], period="1d", interval="1m")

[*********************100%***********************]  3 of 3 completed

In [6]:
df.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close', 'GOOG'),
            ('Adj Close', 'MSFT'),
            (    'Close', 'AAPL'),
            (    'Close', 'GOOG'),
            (    'Close', 'MSFT'),
            (     'High', 'AAPL'),
            (     'High', 'GOOG'),
            (     'High', 'MSFT'),
            (      'Low', 'AAPL'),
            (      'Low', 'GOOG'),
            (      'Low', 'MSFT'),
            (     'Open', 'AAPL'),
            (     'Open', 'GOOG'),
            (     'Open', 'MSFT'),
            (   'Volume', 'AAPL'),
            (   'Volume', 'GOOG'),
            (   'Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [ ]:
# Just he closing prices.
df['Close']

Ticker            AAPL        GOOG        MSFT
Date
1980-12-12    0.128348         NaN         NaN
1980-12-15    0.121652         NaN         NaN
1980-12-16    0.112723         NaN         NaN
1980-12-17    0.115513         NaN         NaN
1980-12-18    0.118862         NaN         NaN
...                ...         ...         ...
2024-11-27  234.929993  170.820007  422.989990
2024-11-29  237.330002  170.490005  423.459991
2024-12-02  239.589996  172.979996  430.980011
2024-12-03  242.649994  173.020004  431.200012
2024-12-04  243.009995  176.089996  437.420013

[11087 rows x 3 columns]

In [ ]:
# Get the current date and time
filename = dt.datetime.now()
# Create a string from the current data and time
filename = filename.strftime("%Y%m%d_%H%M%S")
filename = filename + ".csv"

# Show the filename.
filename

'20241205_140835.csv'

In [5]:
type(df)

pandas.core.frame.DataFrame

In [12]:
# Save the data to a CSV file.
df['Close'].to_csv(filename)

### End